
/* Main */

.root {
	-fx-background-color: PapayaWhip;
	-fx-background-radius: 18;
	
	-fx-border-color: black;
	-fx-border-radius: 18;
	-fx-border-width: 6;
}

.secondary-button{
	-fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #800000 0.0%, #8b4513 25.0%, #a0522d 50.0%, #8b4513 75.0%, #800000 100.0%);

	-fx-background-color: BurlyWood;
	-fx-background-radius: 60;

	-fx-border-color: Navy;
	-fx-border-width: 2;
	-fx-border-radius: 60;
}

.selection-button{
	-fx-background-color: Transparent;

	-fx-text-fill: #020c0d;
}


/* Menu */

.main-button{
	-fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #800000 0.0%, #a0522d 25.0%, #d2691e 50.0%, #9e512e 75.0%, #800000 100.0%);

	-fx-background-color:  linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #eee8aa 0.0%, #ffe4b5 25.0%, #fafad2 50.0%, #ffe4b5 75.0%, #eee8aa 100.0%);
	-fx-background-radius: 50;

	-fx-border-color: Maroon;
	-fx-border-width: 2;
	-fx-border-radius: 50;
}

.main-label{
	-fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #000080 0.0%, #800000 25.0%, #8b4513 50.0%, #800000 75.0%, #000080 100.0%);
}

.menu-secondary-button{
	-fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #800000 0.0%, #8b4513 25.0%, #a0522d 50.0%, #8b4513 75.0%, #800000 100.0%);

	-fx-background-color: BurlyWood;
	-fx-background-radius: 60;

	-fx-border-color: Maroon;
	-fx-border-width: 2;
	-fx-border-radius: 60;
}

.authors-header-label{
	-fx-text-fill: Black;
}

.authors-author-icon{
	-fx-border-color: Black;
}

.authors-author-name{
	-fx-text-fill: Black;
}

.authors-author-role{
	-fx-text-fill: Black;
}

.authors-feedback-label{
	-fx-text-fill: Black;
}

.authors-our-social-networks{
	-fx-text-fill: Black;
}

.version-label{
	-fx-text-fill: Black;
}


/* Theory */

.theory-header-label{
	-fx-text-fill: Navy;
	-fx-underline: true;
}

.theory-chapter-cell-label{
	-fx-background-color: Transparent;
}

.theory-chapter-cell-label .button{
	-fx-background-color: Transparent;
}

.theory-chapters-list {
	-fx-background-color: Transparent;
	-fx-border-color: Maroon;
	-fx-border-radius: 10;
	-fx-padding: 5;
}

.theory-chapters-list .list-cell{
	-fx-background-color: Transparent;
}

.theory-chapters-list .scroll-bar{
	-fx-background-color: BurlyWood;
}

.theory-definition-label{
	-fx-background-color: Transparent;
	-fx-background-radius: 20;
	
	-fx-border-color: #dd5f5f;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-text-label{
	-fx-background-color: Transparent;
	-fx-background-radius: 20;
	
	-fx-border-color: Navy;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-answer-label{
	-fx-background-color: #f4ff8f;
	-fx-background-radius: 20;
	
	-fx-border-color: Maroon;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-condition-label{
	-fx-background-color:  #f2c76c;
	-fx-background-radius: 20;
	
	-fx-border-color: Maroon;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-decision-label{
	-fx-background-color:  #a4ff5e;
	-fx-background-radius: 20;
	
	-fx-border-color: Maroon;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-given-label{
	-fx-background-color: #ff8664;
	-fx-background-radius: 20;
	
	-fx-border-color: Maroon;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-to-find-label{
	-fx-background-color: #9db7ff;
	-fx-background-radius: 20;
	
	-fx-border-color: Maroon;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-basic-theory-label{
	-fx-background-color: PeachPuff;
	-fx-background-radius: 20;
	
	-fx-border-color: Maroon;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-pagination {
	-fx-arrows-visible: false;
	-fx-tooltip-visible: false;
	-fx-page-information-visible: true;
	-fx-page-information-alignment: right;
}

.theory-pagination .pagination-control{
	-fx-font-size: 16px;
	-fx-text-fill: Maroon;
}

.theory-pagination .pagination-control .number-button{
	-fx-background-radius: 50%;
	-fx-background-color: Transparent;
	-fx-border-color: Maroon;
	-fx-border-radius: 50%;
}

.theory-pagination .pagination-control .number-button:selected{
	-fx-border-color: Navy;
	-fx-border-width: 2;
	-fx-text-fill: Navy;
	-fx-font-weight: 800;
}

.theory-examples-separator{
	-fx-background-color: Maroon;
}

.basic-text-cell-view{
	-fx-background-color: Transparent;
}

.theory-examples-text-list-cell{
	-fx-background-color: Transparent;
}

.theory-examples-text-list {
	-fx-background-color: Transparent;
}

.theory-examples-text-list .list-cell{
	-fx-background-color: Transparent;
}

.theory-examples-text-list .scroll-bar{
	-fx-background-color: BurlyWood;
}

.theory-image{
	-fx-background-color:  LemonChiffon;
	-fx-background-radius: 20;
	
	-fx-border-color:  Navy;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.examples-cell{
	-fx-background-color: Transparent;
	
	-fx-text-fill: Black;
	
	-fx-border-color: Black;
	-fx-border-radius: 50;
	-fx-border-width: 2;
}

/* Tasks */
.tasks-header-label{
	-fx-text-fill: Navy;
	-fx-underline: true;
}

.tasks-generator-scroll-pane{
	-fx-background-color: LemonChiffon;
	-fx-background-radius: 8;
	-fx-border-color: Navy;
	-fx-border-radius: 8;
}

.tasks-generator-scroll-pane .scroll-bar{
	-fx-background-color: DarkKhaki;
	-fx-background-radius: 50;
}

.tasks-generator-scroll-pane .scroll-bar .thumb{
	-fx-background-color: Moccasin;
}

.tasks-generator-scroll-pane .scroll-bar .decrement-button .decrement-arrow{
	-fx-background-color: Maroon;
}

.tasks-generator-scroll-pane .scroll-bar .increment-button .increment-arrow{
	-fx-background-color: Maroon;
}

.tasks-generator-scroll-pane .viewport{
	-fx-background-color: Transparent;
}

.tasks-generator-create-button{
	-fx-background-color: LemonChiffon;
}

.tasks-generator-parameter-vbox{
	-fx-border-color: Maroon;
	-fx-border-radius: 20;
}

.tasks-generator-parameter-vbox .label{
	-fx-text-fill: DarkGreen;
}

.tasks-generator-parameter-vbox .slider .track{
	-fx-background-color: DarkKhaki;
	-fx-border-color: Maroon;
	-fx-border-radius: 100%;
	-fx-border-width: 0.8;
}

.tasks-generator-parameter-vbox .slider .thumb {
	-fx-background-color: DarkKhaki;
	-fx-border-color: Maroon;
	-fx-border-radius: 100%;
	-fx-border-width: 1;
}

.tasks-generator-parameter-vbox .slider .axis{
	-fx-tick-label-fill: Maroon;
}

.tasks-generator-parameter-vbox .list-view{
	-fx-background-color: Moccasin;
	-fx-background-radius: 20;
	-fx-border-color: Maroon;
	-fx-border-radius: 10;
	-fx-padding: 5;
}

.tasks-generator-parameter-vbox .list-view .list-cell{
	-fx-background-color: LemonChiffon;
	-fx-background-radius: 20;
	-fx-border-color: Maroon;
	-fx-border-radius: 20;
	-fx-text-fill: Maroon;
	-fx-font-size: 20;
	-fx-cell-size: 20;
}

.tasks-generator-parameter-vbox .list-view .list-cell:selected{
	-fx-background-color: Khaki
}

.tasks-generated-tasks-task-number{
	-fx-text-fill: Navy;
}

.tasks-generated-tasks-task-text{
	-fx-text-fill: Maroon;
}

.tasks-generated-tasks-task-answer{
	-fx-text-fill: Maroon;
	-fx-prompt-text-fill: DarkGrey;
	-fx-background-color: Transparent;
	-fx-border-color: Navy;
	-fx-border-radius: 100%;
	-fx-border-width: 2;
	
}