.root {
	-fx-background-color: PapayaWhip;
	-fx-background-radius: 18;
	
	-fx-border-color: black;
	-fx-border-radius: 18;
	-fx-border-width: 6;
}



.main-button{
	-fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #800000 0.0%, #a0522d 25.0%, #d2691e 50.0%, #9e512e 75.0%, #800000 100.0%);

	-fx-background-color:  linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #eee8aa 0.0%, #ffe4b5 25.0%, #fafad2 50.0%, #ffe4b5 75.0%, #eee8aa 100.0%);
	-fx-background-radius: 50;

	-fx-border-color: Maroon;
	-fx-border-width: 2;
	-fx-border-radius: 50;
}

.secondary-button{
	-fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #800000 0.0%, #8b4513 25.0%, #a0522d 50.0%, #8b4513 75.0%, #800000 100.0%);

	-fx-background-color: BurlyWood;
	-fx-background-radius: 60;

	-fx-border-color: Navy;
	-fx-border-width: 2;
	-fx-border-radius: 60;
}

.selection-button{
	-fx-background-color: Transparent;

	-fx-text-fill: #020c0d;
}



.main-label{
	-fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #000080 0.0%, #800000 25.0%, #8b4513 50.0%, #800000 75.0%, #000080 100.0%);
}

.theory-header-label{
	-fx-text-fill: Navy;
	-fx-underline: true;
}

.theory-definition-label{
	-fx-background-color: Transparent;
	-fx-background-radius: 20;
	
	-fx-border-color: #dd5f5f;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-text-label{
	-fx-background-color: Transparent;
	-fx-background-radius: 20;
	
	-fx-border-color: Navy;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.theory-image{
	-fx-background-color:  LemonChiffon;
	-fx-background-radius: 20;
	
	-fx-border-color:  Navy;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.examples-cell{
	-fx-background-color: Transparent;
	
	-fx-text-fill: Black;
	
	-fx-border-color: Black;
	-fx-border-radius: 50;
	-fx-border-width: 2;
}